<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container">
    <div class="form-container">
        <div class="left-side">
            <div class="logo-container">
                <img src="assets/pepiniere.png" alt="Logo" class="logo" />
                <!-- Remplacez "logo.png" par le chemin de votre logo -->
            </div>
            <div class="image-container">
                <img src="assets/PhotoAjout.png" alt="Image principale" class="left-image" />
            </div>
        </div>

        <div class="right-side">
            <h2>Ajout d'un utilisateur</h2>
            <div class="bloc">
                <form [formGroup]="userForm" (ngSubmit)="addUser()">
                    <label>Nom:</label>
                    <input type="text" formControlName="nom" placeholder="Entrez votre nom" />
                    <div *ngIf="userForm.get('nom')?.invalid && userForm.get('nom')?.touched" class="error">
                        Nom requis.
                    </div>

                    <label>Prénom:</label>
                    <input type="text" formControlName="prenom" placeholder="Entrez votre prénom" />
                    <div *ngIf="userForm.get('prenom')?.invalid && userForm.get('prenom')?.touched" class="error">
                        Prénom requis.
                    </div>

                    <label>Téléphone:</label>
                    <input type="text" formControlName="telephone" placeholder="Entrez votre numéro de téléphone" (input)="restrictInput($event)" maxlength="9" />
                    <div *ngIf="userForm.get('telephone')?.invalid && userForm.get('telephone')?.touched" class="error">
                        Le téléphone doit contenir exactement 9 chiffres.
                    </div>
                    <div *ngIf="phoneExistsMessage" class="error">{{ phoneExistsMessage }}</div>

                    <label>Adresse:</label>
                    <input type="text" formControlName="adresse" placeholder="Entrez votre adresse" />
                    <div *ngIf="userForm.get('adresse')?.invalid && userForm.get('adresse')?.touched" class="error">
                        Adresse requise.
                    </div>

                    <label>Rôle:</label>
                    <select formControlName="role">
                        <option value="Utilisateur">Utilisateur</option>
                        <option value="Super Admin">Super Admin</option>
                    </select>
                    <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched" class="error">
                        Rôle requis.
                    </div>


                    <label>Card ID:</label>
                    <input type="text" formControlName="carteRfid" placeholder="Scanner la Card ID" readonly />
                    <div *ngIf="userForm.get('carteRfid')?.invalid && userForm.get('carteRfid')?.touched" class="error">
                        Card ID requise.
                    </div>


                    <div *ngIf="rfidExistsMessage" class="error">{{ rfidExistsMessage }}</div>

                    <div class="button-group">
                        <button type="button" class="cancel-button" (click)="navigateToUserList()">Retour</button>
                        <button type="submit" [disabled]="userForm.invalid">Ajouter</button>
                    </div>
                </form>
            </div>
            <img src="assets/boutonDeconnexion.png" alt="Déconnexion" class="logout-icon" />
            <!-- Modal for success message -->
            <div class="modal" [ngClass]="{'show': successMessage}" (click)="closeModal()">
                <div class="modal-content" (click)="$event.stopPropagation()">
                    <span class="close" (click)="closeModal()">&times;</span>
                    <!-- Votre HTML existant -->
                    <p *ngIf="successMessage" class="success">
                        <i class="fas fa-check-circle"></i> {{ successMessage }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>