.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Remplir toute la hauteur de la page */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* Ombre douce autour du formulaire */
}

label {
    display: block;
    /* Permet au label de prendre toute la largeur */
    text-align: left;
    /* Aligne le texte à gauche */
    margin-bottom: 5px;
    /* Ajoute de l'espace sous le label */
    font-weight: bold;
    /* Met le texte en gras pour le rendre plus visible */
    width: 70%;
    /* Assure que le label a la même largeur que les champs */
    margin-left: auto;
    /* Centre horizontalement */
    margin-right: auto;
    /* Centre horizontalement */
}

.logout-icon {
    position: absolute;
    /* Positionnement absolu par rapport au parent */
    bottom: 20px;
    /* Distance du bas de la partie droite */
    right: 20px;
    /* Distance du côté droit de la partie droite */
    width: 50px;
    /* Ajustez la taille selon vos besoins */
    height: auto;
    /* Garder les proportions de l'image */
    cursor: pointer;
    /* Change le curseur au survol */
}

.form-container {
    display: flex;
    width: 80%;
    /* Largeur totale du formulaire */
    height: 80%;
    /* Hauteur du formulaire, peut être ajustée */
    border: 1px solid #ddd;
    /* Optionnel : ajout d'une bordure pour délimiter */
}

.bloc {
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    /* Bordure arrondie pour donner un aspect plus doux */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* Ombre douce autour du formulaire */
    width: 80%;
    /* Largeur à 80% de l'élément parent */
    max-width: 600px;
    /* Limite la largeur maximale */
    height: auto;
    /* La hauteur s'ajuste automatiquement selon le contenu */
    margin: 40px auto;
    /* Augmente la marge supérieure */
    /* Centrer le bloc horizontalement */
}

.left-side {
    width: 40%;
    /* 40% de la largeur pour la partie gauche */
    background-color: #97DD52;
    /* Fond vert */
    color: white;
    /* Texte blanc pour contraster */
    display: flex;
    flex-direction: column;
    /* Disposition verticale des éléments */
    justify-content: space-between;
    /* Espacement entre les éléments */
    padding: 20px;
    height: 94, 5%;
    /* Remplir toute la hauteur */
}

.left-side img {
    width: 95%;
    /* Images prennent toute la largeur */
    height: auto;
    /* Garder les proportions des images */
    border-radius: 5px;
    /* Bordure arrondie des images */
    margin-bottom: -50px;
    /* Espacement en haut pour relever l'image */
    margin-left: 15px;
}

.top-image,
.bottom-image {
    flex: 1;
    /* Prendre une part égale de l'espace vertical */
    display: flex;
    justify-content: center;
    /* Centrer les images horizontalement */
    align-items: center;
    /* Centrer les images verticalement */
    margin-bottom: 20px;
}

.right-side {
    width: 60%;
    /* Partie droite prend 60% de l'espace */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrer verticalement */
    align-items: center;
    /* Centrer horizontalement */
    height: 100%;
    /* Assurer que la hauteur de la partie droite prend toute la hauteur */
    text-align: center;
    /* Aligner le texte au centre */
}

h2 {
    margin-bottom: -30px;
    /* Ajout d'un peu d'espace en dessous du titre */
    font-size: 30px;
    /* Augmente la taille de la police */
}

.logo-container {
    text-align: center;
    /* Centrer le logo */
    margin-bottom: 10px;
    /* Espacement en bas du logo */
}

.logo {
    max-width: 60%;
    /* S'assurer que le logo ne dépasse pas la largeur de son conteneur */
    height: auto;
    /* Garder les proportions */
}

input,
select,
button {
    display: block;
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.button-group {
    display: flex;
    justify-content: center;
    /* Centre les boutons horizontalement */
    align-items: center;
    /* Centre les boutons verticalement */
    gap: 10px;
    /* Espacement entre les boutons */
    margin-top: 20px;
}

button {
    background-color: #97DD52;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    /* Taille des boutons */
    width: 110px;
    /* Largeur fixe pour le bouton Ajouter */
}

.cancel-button {
    background-color: #f44336;
    /* Couleur rouge pour le bouton Annuler */
    color: white;
    padding: 8px 12px;
    /* Taille du bouton Annuler */
    width: 110px;
    /* Largeur fixe pour le bouton Annuler */
}

button:disabled {
    background-color: #ccc;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #97DD52;
    padding: 10px;
    height: 100px;
    color: white;
    justify-content: space-between;
    /* Espace entre les éléments */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 140px;
    /* Ajustez la hauteur */
    width: auto;
    /* Maintient le ratio de l'image */
    margin-right: 20px;
}

.sidebar {
    width: 100px;
    background-color: white;
    padding: 20px;
    height: 628px;
    border: 1px solid #97DD52;
    margin-right: 200px;
    margin-bottom: 130px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 50px 0;
    /* Ajoute plus d'espace entre les icônes */
    display: flex;
    /* Utilise flexbox pour aligner le contenu */
    justify-content: center;
    /* Centre horizontalement le contenu */
}

.sidebar a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.sidebar-icon {
    width: 24px;
    /* Ajustez la taille selon vos besoins */
    height: auto;
    /* Conserve les proportions */
    margin-right: 30px;
    /* Espace entre l'icône et le texte (si vous décidez d'en garder) */
    /* Aligne verticalement l'icône */
}

.modal {
    display: none;
    /* Masqué par défaut */
    position: fixed;
    /* Reste en place */
    z-index: 1;
    /* Au-dessus de tout */
    left: 0;
    top: 0;
    width: 100%;
    /* Largeur complète */
    height: 100%;
    /* Hauteur complète */
    overflow: auto;
    /* Activer le défilement si nécessaire */
    background-color: rgb(0, 0, 0);
    /* Couleur de fond noire */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fond transparent noir */
}

.modal.show {
    display: block;
    /* Afficher le modal */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% de haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 20px;
    /* Peut être ajusté */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(51, 248, 11);
    text-decoration: none;
    cursor: pointer;
}

.success {
    color: green;
    /* Couleur verte */
    font-weight: bold;
    /* Texte en gras */
    font-size: 24px;
    /* Taille de police augmentée */
    margin-top: 20px;
    /* Espacement au-dessus du message */
    text-align: center;
    /* Centrer le texte si nécessaire */
}

.error {
    color: red;
    /* Couleur rouge pour les erreurs */
    font-size: 14px;
    /* Taille de police */
    margin-top: 5px;
    /* Espacement au-dessus du message */
}