.navbar {
    display: flex;
    align-items: center;
    background-color: #97DD52;
    padding: 10px;
    height: 100px;
    color: white;
    justify-content: space-between;
    /* Espace entre les éléments */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 140px;
    /* Ajustez la hauteur */
    width: auto;
    /* Maintient le ratio de l'image */
    margin-right: 20px;
}

.navbar-search {
    display: flex;
    justify-content: center;
    /* Centre la barre de recherche */
    flex: 1;
    /* Permet d'utiliser l'espace restant */
    position: relative;
    /* Pour positionner l'icône par rapport au champ */
}

.navbar-search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 350px;
    /* Ajustez selon vos besoins */
    height: 25px;
    font-size: 16px;
    /* Taille du texte */
    padding-left: 30px;
    /* Ajoute de l'espace à gauche pour l'icône */
}

.search-icon {
    position: absolute;
    left: 10px;
    /* Positionner à gauche */
    top: 50%;
    /* Centrer verticalement */
    transform: translateY(-50%);
    /* Ajustement pour centrer */
    width: 20px;
    /* Ajustez la taille de l'icône */
    height: 20px;
    /* Ajustez la taille de l'icône */
    margin-left: 870px;
}

.logout-icon {
    position: fixed;
    /* Position fixe */
    bottom: 20px;
    /* Distance du bas de la page */
    right: 20px;
    /* Distance du côté droit de la page */
    width: 50px;
    /* Ajustez la taille de l'image */
    height: auto;
    /* Conserve les proportions */
    cursor: pointer;
    /* Curseur pointer */
}

.container {
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: white;
    padding: 20px;
    height: 628px;
    border: 1px solid #97DD52;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 50px 0;
    /* Ajoute plus d'espace entre les icônes */
    display: flex;
    /* Utilise flexbox pour aligner le contenu */
    justify-content: center;
    /* Centre horizontalement le contenu */
}

.sidebar a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.user-list {
    flex: 1;
    padding: 20px;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
}

.user-list th,
.user-list td {
    padding: 10px;
    border: 1px solid #97DD52;
}

.user-list th {
    background-color: #f2f2f2;
}

.sidebar-icon {
    width: 24px;
    /* Ajustez la taille selon vos besoins */
    height: auto;
    /* Conserve les proportions */
    margin-right: 30px;
    /* Espace entre l'icône et le texte (si vous décidez d'en garder) */
    /* Aligne verticalement l'icône */
}

.button-container {
    display: flex;
    /* Utilise flexbox pour le conteneur */
    justify-content: space-between;
    /* Espace entre le bouton et le reste */
    align-items: center;
    /* Aligne verticalement */
    margin-bottom: 20px;
    /* Espacement sous le conteneur */
}

.add-user-button {
    background-color: #97DD52;
    /* Couleur de fond */
    color: white;
    /* Couleur du texte */
    border: none;
    /* Pas de bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 15px;
    /* Espacement interne */
    cursor: pointer;
    /* Curseur pointer */
    width: 200px;
    height: 40px;
    font-size: 18px;
    /* Taille du texte */
}

.add-user-button:hover {
    background-color: #45a049;
    /* Couleur au survol */
}

.delete-button {
    background-color: #d9534f;
    /* Couleur de fond rouge */
    color: white;
    /* Couleur du texte */
    border: none;
    /* Pas de bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 15px;
    /* Espacement interne */
    font-size: 16px;
    /* Taille de la police */
    cursor: pointer;
    /* Changer le curseur au survol */
    transition: background-color 0.3s ease;
    /* Transition douce pour le changement de couleur */
}

.delete-button:hover {
    background-color: #c9302c;
    /* Couleur de fond au survol */
}

.delete-button:disabled {
    background-color: #e0e0e0;
    /* Couleur de fond désactivée */
    color: #45a049;
    /* Couleur du texte désactivée */
    cursor: not-allowed;
    /* Curseur en mode non autorisé */
}

.action-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    /* Espace entre les icônes */
}

button {
    background: none;
    /* Pour enlever le fond par défaut des boutons */
    border: none;
    /* Pour enlever la bordure par défaut des boutons */
    cursor: pointer;
    /* Changer le curseur au survol */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-buttons {
    margin-top: 20px;
}

.warning-message {
    color: red;
    /* Texte en rouge */
    margin: 10px 0;
    /* Ajoute un peu d'espace autour du texte */
}

.confirm-button {
    background-color: #97DD52;
    /* Bouton OUI en vert */
    color: white;
    /* Texte en blanc */
    border-radius: 10px;
    padding: 10px 20px;
    /* Ajoute du padding */
    cursor: pointer;
    /* Curseur pointer */
}

.cancel-button {
    background-color: red;
    /* Bouton NON en rouge */
    color: white;
    /* Texte en blanc */
    border-radius: 10px;
    /* Ajoute du padding */
    padding: 10px 20px;
    cursor: pointer;
    /* Curseur pointer */
}

.modal-buttons button {
    margin: 0 10px;
    /* Espace entre les boutons */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
}

.pagination button.active {
    font-weight: bold;
    background-color: #97DD52;
    color: white;
}