<nav class="navbar">
    <div class="navbar-logo">
        <img src="assets/pepiniere.png" alt="Logo" />
    </div>
    <div class="navbar-search">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Rechercher par numéro de téléphone..." (input)="searchUser()" />
        <img src="assets/search.png" alt="Recherche" class="search-icon" (click)="searchUser()" />
    </div>
</nav>

<div class="container">
    <app-sidebar-left></app-sidebar-left>

    <main class="user-list">
        <!-- <h2>Liste des Utilisateurs</h2> -->

        <div class="filter-container">
            <label for="roleFilter">Filtrer par Rôle:</label>
            <select id="roleFilter" [(ngModel)]="selectedRole" (change)="filterUsers()">
                <option value="">Tous</option>
                <option value="Super Admin">Super Admin</option>
                <option value="Utilisateur">Utilisateur</option>
            </select>

            <label for="statusFilter">Filtrer par Statut:</label>
            <select id="statusFilter" [(ngModel)]="selectedStatus" (change)="filterUsers()">
                <option value="">Tous</option>
                <option value="true">Actif</option>
                <option value="false">Inactif</option>
            </select>
        </div>


        <div class="button-container">
            <div>
                <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" /> Tout sélectionner
            </div>
            <div class="right-buttons">
                <button *ngIf="selectedCount > 0" class="action-button" (click)="openDeleteMultipleConfirmationModal()">
                    Supprimer Tout
                </button>
                <input type="file" accept=".csv" #fileInput style="display: none;" (change)="onFileSelected($event)" />
                <button class="action-button" (click)="navigateToAddUser()">Ajouter un utilisateur</button>
            </div>
        </div>


        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>Code Secret</th>
                    <th>Adresse</th>
                    <th>Status</th>
                    <th>Rôle</th>
                    <th>Action</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of paginatedItems">
                    <td>
                        <input type="checkbox" [(ngModel)]="user.selected" (change)="updateSelection()" />
                    </td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.codeSecret }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>
                        <span [ngClass]="{'status-actif': user.status, 'status-inactif': !user.status}">
                            {{ user.status ? 'Actif' : 'Inactif' }}
                        </span>
                    </td>
                    <td>
                        <span [ngClass]="{'role-super-admin': user.role === 'Super Admin', 'role-utilisateur': user.role === 'Utilisateur'}">
                            {{ user.role }}
                        </span>
                    </td>
                    <td>
                        <button (click)="navigateToUpdateUser(user._id)">
                            <img src="assets/modifier.png" alt="Modifier" class="action-icon" title="Modifier" />
                        </button>
                        <button (click)="deleteUser(user)">
                            <img src="assets/supprimer.png" alt="Supprimer" class="action-icon" title="Supprimer" />
                        </button>
                        <button (click)="toggleRole(user)">
                            <img src="assets/switch.png" alt="Changer Rôle" class="action-icon" title="Changer le rôle" />
                        </button>
                        <button (click)="toggleStatus(user)">
                            <img src="assets/switcher.png" alt="Changer Statut" class="action-icon" title="Changer le statut" />
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>

        <!-- Message d'erreur -->
        <div *ngIf="noUsersFound" class="error-message">
            Aucuns utilisateurs disponibles pour ce filtre.
        </div>

        <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
            <span *ngFor="let page of [].constructor(getTotalPages()); let i = index">
                <button (click)="goToPage(i + 1)" [class.active]="currentPage === i + 1">{{ i + 1 }}</button>
            </span>
            <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Suivant</button>
        </div>


        <!-- Modal de confirmation pour suppression multiple -->
        <div class="modal modal-delete-multiple" *ngIf="showModal">
            <div class="modal-content">
                <h3>Voulez-vous vraiment supprimer ces utilisateurs ?</h3>
                <p class="warning-message">Cette action sera irréversible.</p>
                <div class="modal-buttons">
                    <button class="confirm-button" (click)="confirmDeleteMultiple()">OUI</button>
                    <button class="cancel-button" (click)="cancelDeleteMultiple()">NON</button>
                </div>
            </div>
        </div>

        <!-- Modal de confirmation pour suppression unique -->
        <div class="modal" *ngIf="userToDelete">
            <div class="modal-content">
                <h3>Voulez-vous vraiment supprimer cet utilisateur ?</h3>
                <p class="warning-message">Cette action sera irréversible.</p>
                <div class="modal-buttons">
                    <button class="confirm-button" (click)="confirmDelete()">OUI</button>
                    <button class="cancel-button" (click)="cancelDelete()">NON</button>
                </div>
            </div>
        </div>

        <!-- Bouton de déconnexion -->
        <img src="boutonDeconnexion.png" alt="Déconnexion" class="logout-icon" />
    </main>
</div>